@font-face{
  src:url(../Fonts/Lato-Regular.ttf);
  font-family:latoBlack;
  font-size:18px;
}


*{
  margin:0;
  padding:0;
}



.container{

  font-family:latoBlack;
  display:grid;
  user-select:none;

}

.navBar{
  padding-left:15px;
  padding-right:15px;
  padding-top:1px;
  padding-bottom:1px;
  display:grid;
  grid-template-columns:1fr 10fr;
  background-color:darkviolet;
  color:white;
  font-size:1.5em;
}


.navBar div{
 display:flex;
 justify-content:center;
 align-items:center;
}

.navBar div img{
  width:22px;
  height:22px;

 
}




.navBar span{
 
  display:flex;
  justify-content:flex-end;
  align-items:center;
  font-weight:bold;
  word-spacing:5px;
}


.navBar img:hover{
  cursor:pointer;
  
}


.header{
  padding-left:15px;
  padding-right:15px;
  margin-top:20px;
 
}


.image{
  padding:15px;
}

.image div img{
  width:100%;
  height:100%;
  border-radius:5px;
}



.content{
  display:grid;
  row-gap:5px;
  padding:15px;
  font-size:1.1em;
  
}


.content h3{
  font-style:italic;
  color:darkviolet;
}



.content :nth-child(even){
  text-align:justify;
}


.footer{
  padding:10px;
  display:grid;
  grid-template-columns:1fr 1fr 1fr 1fr;
  row-gap:20px;
  column-gap:5px;
  
  font-weight:bold;
  background-color:#222222;
  color:white;
}



.footer div{
  display:flex;
  align-items:center;
}

.footer span{
  display:flex;
  align-items:center;
}


.footer :nth-child(odd):hover{
  
  color:violet;
}

.footer :nth-child(even):hover{
  cursor:pointer;
  color:violet;
}


.footer :nth-child(2){
  grid-column:span 2;
}

.footer :nth-child(odd){
  
  justify-content:flex-end;
  
}


.footer :nth-child(1){
  grid-column:span 2;
  justify-content:flex-end;
}

.footer img{
  width:15px;
  height:15px;
  

}
